@font-face {
  font-family: "Geist Sans";
  src: url("./components/assets/fonts/Geist[wght].woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Geist Sans";
  src: url("./components/assets/fonts/Geist-Italic[wght].woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./components/assets/fonts/GeistMono[wght].woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./components/assets/fonts/GeistMono-Italic[wght].woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@import "@sports-system/ui/globals.css";
