@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/instrument-sans";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/jetbrains-mono";
@source "../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.23 0.015 258);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.25 0.02 256);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.25 0.02 256);

  --primary: oklch(57.37% 0.21802 275.924);
  --primary-foreground: oklch(100% 0.00011 271.152);

  --secondary: oklch(0.92 0.01 256);
  --secondary-foreground: oklch(0.25 0.02 256);

  --muted: oklch(0.92 0.01 256);
  --muted-foreground: oklch(0.45 0.02 256);

  --accent: oklch(0.53 0.22 268 / 0.1);
  --accent-foreground: oklch(57.37% 0.21802 275.924);

  --destructive: oklch(65.644% 0.23492 13.322);

  --success: oklch(67.684% 0.15186 160.538);
  --success-foreground: oklch(100% 0.00011 271.152);

  --warning: oklch(68.009% 0.16249 58.142);
  --warning-foreground: oklch(100% 0.00011 271.152);

  --info: oklch(68.546% 0.12843 223.708);
  --info-foreground: oklch(100% 0.00011 271.152);

  --tertiary: oklch(69.994% 0.21024 359.57);
  --tertiary-foreground: oklch(100% 0.00011 271.152);

  --link: oklch(0.45 0.14 268);
  --link-hover: oklch(0.30 0.14 268);

  --border: oklch(0.88 0.01 256);
  --input: oklch(0.88 0.01 256);
  --ring: oklch(57.37% 0.21802 275.924);

  --radius: 0.375rem;

  --sidebar: oklch(0.94 0.01 256);
  --sidebar-foreground: oklch(0.25 0.02 256);
  --sidebar-primary: oklch(57.37% 0.21802 275.924);
  --sidebar-primary-foreground: oklch(100% 0.00011 271.152);
  --sidebar-accent: oklch(0.88 0.01 256);
  --sidebar-accent-foreground: oklch(57.37% 0.21802 275.924);
  --sidebar-border: oklch(0.85 0.01 256);
}

.dark {
  --background: oklch(17.163% 0.00968 255.69);
  --foreground: oklch(85.025% 0.00654 255.716);

  --card: oklch(18.583% 0.01131 260.674);
  --card-foreground: oklch(85.025% 0.00654 255.716);

  --primary: oklch(57.37% 0.21802 275.924);
  --primary-foreground: oklch(100% 0.00011 271.152);

  --secondary-foreground: oklch(87.338% 0.01466 254.732);

  --muted-foreground: oklch(62.936% 0.00513 258.517);

  --destructive: oklch(65.644% 0.23492 13.322);
  --destructive-foreground: oklch(100% 0.00011 271.152);

  --success: oklch(74.605% 0.16759 160.461);
  --success-foreground: oklch(19.651% 0.03467 160.914);

  --warning: oklch(75.053% 0.17907 58.273);
  --warning-foreground: oklch(17.628% 0.03709 75.526);

  --info: oklch(80.427% 0.146 219.548);
  --info-foreground: oklch(20.039% 0.03537 214.768);

  --tertiary: oklch(69.994% 0.21024 359.57);
  --tertiary-foreground: oklch(100% 0.00011 271.152);

  --link: oklch(60.621% 0.01447 266.663);
  --link-hover: oklch(100% 0.00011 271.152);

  --border: oklch(21.835% 0.01218 270.816);
  --input: oklch(21.835% 0.01218 270.816);
  --ring: oklch(57.37% 0.21802 275.924);

  --popover: oklch(20.866% 0.01712 264.119);
  --popover-foreground: oklch(85.025% 0.00654 255.716);

  --secondary: oklch(21.348% 0.01462 266.904);
  --muted: oklch(21.348% 0.01462 266.904);

  --accent: oklch(24.501% 0.01964 271.848);
  --accent-foreground: oklch(100% 0.00011 271.152);

  --chart-1: oklch(57.37% 0.21802 275.924);
  --chart-2: oklch(74.605% 0.16759 160.461);
  --chart-3: oklch(75.053% 0.17907 58.273);
  --chart-4: oklch(69.994% 0.21024 359.57);
  --chart-5: oklch(80.427% 0.146 219.548);

  --sidebar: oklch(18.583% 0.01131 260.674);
  --sidebar-foreground: oklch(85.025% 0.00654 255.716);
  --sidebar-primary: oklch(57.37% 0.21802 275.924);
  --sidebar-primary-foreground: oklch(100% 0.00011 271.152);
  --sidebar-accent: oklch(21.348% 0.01462 266.904);
  --sidebar-accent-foreground: oklch(100% 0.00011 271.152);
  --sidebar-border: oklch(20.58% 0.0186 270.364);
}

@theme inline {
  --font-sans: "Instrument Sans Variable", sans-serif;
  --font-body: "Inter Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625;
  }
  html {
    @apply font-sans;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
    -webkit-text-fill-color: var(--foreground);
    transition: background-color 5000s ease-in-out 0s;
  }
}
