@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/typography";
@source "../../../apps/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(15.823% 0.01178 260.646);
  --foreground: oklch(100% 0.00011 271.152);

  --card: oklch(19.487% 0.01554 261.595);
  --card-foreground: oklch(100% 0.00011 271.152);

  --popover: oklch(19.487% 0.01554 261.595);
  --popover-foreground: oklch(100% 0.00011 271.152);

  --primary: oklch(58.189% 0.22815 259.244);
  --primary-foreground: oklch(100% 0.00011 271.152);

  --secondary: oklch(23.817% 0.02542 261.06);
  --secondary-foreground: oklch(100% 0.00011 271.152);

  --muted: oklch(23.817% 0.02542 261.06);
  --muted-foreground: oklch(71.962% 0.03017 270.297);

  --accent: oklch(23.817% 0.02542 261.06);
  --accent-foreground: oklch(100% 0.00011 271.152);

  --destructive: oklch(64.428% 0.211 25.899);

  --border: oklch(23.817% 0.02542 261.06);
  --input: oklch(23.817% 0.02542 261.06);
  --ring: oklch(58.189% 0.22815 259.244);
  --placeholder: oklch(54.378% 0.03547 271.313);

  --radius: 0.625rem;

  --chart-1: oklch(80.099% 0.10891 243.642);
  --chart-2: oklch(62.147% 0.20749 255.396);
  --chart-3: oklch(55.251% 0.24062 261.134);
  --chart-4: oklch(49.426% 0.23772 262.506);
  --chart-5: oklch(42.668% 0.19734 262.012);

  --sidebar: oklch(15.823% 0.01178 260.646);
  --sidebar-foreground: oklch(100% 0.00011 271.152);
  --sidebar-primary: oklch(58.189% 0.22815 259.244);
  --sidebar-primary-foreground: oklch(100% 0.00011 271.152);
  --sidebar-accent: oklch(19.487% 0.01554 261.595);
  --sidebar-accent-foreground: oklch(100% 0.00011 271.152);
  --sidebar-border: oklch(23.817% 0.02542 261.06);
  --sidebar-ring: oklch(58.189% 0.22815 259.244);
}

.dark {
  --background: oklch(15.823% 0.01178 260.646);
  --foreground: oklch(100% 0.00011 271.152);

  --card: oklch(19.487% 0.01554 261.595);
  --card-foreground: oklch(100% 0.00011 271.152);

  --popover: oklch(19.487% 0.01554 261.595);
  --popover-foreground: oklch(100% 0.00011 271.152);

  --primary: oklch(58.189% 0.22815 259.244);
  --primary-foreground: oklch(100% 0.00011 271.152);

  --secondary: oklch(23.817% 0.02542 261.06);
  --secondary-foreground: oklch(100% 0.00011 271.152);

  --muted: oklch(23.817% 0.02542 261.06);
  --muted-foreground: oklch(71.962% 0.03017 270.297);

  --accent: oklch(23.817% 0.02542 261.06);
  --accent-foreground: oklch(100% 0.00011 271.152);

  --destructive: oklch(64.428% 0.211 25.899);

  --border: oklch(23.817% 0.02542 261.06);
  --input: oklch(23.817% 0.02542 261.06);
  --ring: oklch(58.189% 0.22815 259.244);
  --placeholder: oklch(54.378% 0.03547 271.313);

  --chart-1: oklch(80.099% 0.10891 243.642);
  --chart-2: oklch(62.147% 0.20749 255.396);
  --chart-3: oklch(55.251% 0.24062 261.134);
  --chart-4: oklch(49.426% 0.23772 262.506);
  --chart-5: oklch(42.668% 0.19734 262.012);

  --sidebar: oklch(15.823% 0.01178 260.646);
  --sidebar-foreground: oklch(100% 0.00011 271.152);
  --sidebar-primary: oklch(58.189% 0.22815 259.244);
  --sidebar-primary-foreground: oklch(100% 0.00011 271.152);
  --sidebar-accent: oklch(19.487% 0.01554 261.595);
  --sidebar-accent-foreground: oklch(100% 0.00011 271.152);
  --sidebar-border: oklch(23.817% 0.02542 261.06);
  --sidebar-ring: oklch(58.189% 0.22815 259.244);
}

@theme inline {
  --font-sans: "Geist Variable", "Geist", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono Variable", ui-monospace, monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-placeholder: var(--placeholder);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer base {
  * {
    @apply font-sans font-medium border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    scrollbar-color: var(--border)var(--background);
  }
}